// Placeholders for simple CSS functionality that can be used by many classes.
// Check to make sure that they don't first exist in Bootstrap

%clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
