// Default values, color themes, and configurations


// COLORS
// Color variable recommendation: http://sachagreif.com/sass-color-variables/
// Better color defaults: http://clrs.cc/
// ----------------------------------------------------------------------------

// Colors

$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$off-white: #f7f9fb;
$silver: #ddd;
$gray: #aaa;
$black: #111;

// Color Assignments

$page-bg: $off-white;
$link-color: $blue;
$text-color: $black;

// BREAKPOINTS - match Bootstaps breakpoints
// ----------------------------------------------------------------------------

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
