@@include('partials/head.html', {"title": "Home"})
@@include('partials/nav.html')

<div class="container">
  <h1>PI Prototyping Toolkit <span class="glyphicon glyphicon-wrench"></span></h1>
  <p>This toolkit uses the super simple <a href="https://www.npmjs.com/package/gulp-file-include">gulp-file-include</a> to allow stitching HTML documents together</p>
  <p>Check out the source of this template in <code>/assets/source/templates/index.html</code> to see it in action.</p>

  <h3>Extra Credit:</h3>
  <p>This is also set up to use LiveReload functionality.</p>
  <p>download the <a href="https://chrome.google.com/webstore/detail/livereload/jnihajbhpnppcggbcgedagnkighmdlei?hl=en-US">LiveReload extension for Chrome</a> or <a href="http://livereload.com/extensions/">for Firefox and other Browsers</a>.

  <h3>Happy Coding! <span class="glyphicon glyphicon-sunglasses"></span></h3>
</p>
</div>

@@include('partials/footer.html')
